<!DOCTYPE html>

{% extends 'blog/base.html' %}

<hr lang="ru">
<head>
    <meta charset="UTF-8">

    {% block title %}Документация{% endblock %}

</head>

{% block content %}
    {% for documents in document%}
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="box_article">
                    <p>{{ documents.title }}</p>
                    <p>{{ documents.about }}</p>
                    <p> <a href="{{ documents.file.url }}">Просмотреть документ</a></p>
                    <p>  <a download href="{{ documents.file.url }}">Скачать документ</a></p>
                </div>
            </div>
        </div>
{% endfor %}
{% endblock %}